.category-button {
  color: @dark-gray;
  background-color: @light-blue;
  border: 1px solid @dark-gray;
  padding: 6px 10px;
  border-radius: 12px;

  &:hover {
    background-color: darken(@light-blue, 5%);
  }
}

.active-tab {
  background-color: darken(@light-blue, 10%);
}


.tabs {
  margin: 20px auto 40px;
  display: flex;
  justify-content: center;
  width: 80%;

  .tab {
    margin: 0 10px;
  }
}
