footer {
  background-color: @blue;
  color: white;
  padding: 20px;

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    height: 100%;

    a {
      color: white;
      text-decoration: none;
      padding: 5px 0;
    }
  }

  .footer-logo {
    display: block;
    margin: auto;
  }

  .credits {
    font-style: italic;
    font-size: 1.2rem;
    margin: 20px 0 10px;
    text-align: center;
    border-top: 1px solid white;
    padding-top: 20px;
  }
}


