.main {
  padding: 0 10px;

  h2 {
    margin-top: 30px;
    margin-bottom: 20px;
  }
}

.call-to-action {
  background-color: @dark-yellow;
  padding: 10px 40px;

  p {
    text-align: center;
    margin: 20px 0 40px;
  }

  .button {
    display: block;
    margin: auto;
    text-align: center;
    padding: 20px;
  }
}
