.main {
  padding: 0 10px;

  h2 {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  h1 {
    text-transform: uppercase;
    .condensed();
    font-size: 3.8rem;
    color: @dark-gray;
    text-align: center;
    margin: 40px 0 20px;
  }
}

.call-to-action {
  background-color: @dark-yellow;
  padding: 10px 40px 40px;;

  p {
    text-align: center;
    margin: 20px 0 40px;
  }

}
