header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 0;

  @media @desktop {
    flex-direction: row;
    margin-top: 0;
    align-items: stretch;
  }
}

.logo {
  width: 180px;

  @media @desktop {
    margin: 0 30px;
  }
}

.tagline {
  @media @desktop {
    display: none;
  }
}
