nav {
  @media @desktop {
    display: none;
  }

  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: @red;
  height: 42px;
  width: 100%;
  color: white;
  margin-top: 20px;

  a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    .condensed();
  }

  .hamburger {
    margin: 0 20px;
  }
}

nav.full {
  display: none;

  @media @desktop {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 0;
    height: initial;
  }

  .mobile-open {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

