// Initialize the default font size to 62.5%
html { font-size: 62.5%; } 

body {
  font-size: 1.8rem;
  font-family: 'Roboto', sans-serif;
}

h1   {
  font-size: 2.4rem;
}

.tagline {
  color: @medium-gray;
  font-size: 2.0rem;
  font-weight: 700;
}

